.container {
    height: 100px; /* Ajusta esta altura según tus necesidades */
    width: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .vs-viewport {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  