<div>
  <h1>Test Driven Forms App</h1>
  <form #registerForm="ngForm" (ngSubmit)="signIn(registerForm)">
    <div>
      <label for="name">Name: </label>
      <input type="text" name="name" [(ngModel)]="user.name" #name="ngModel" required minlength="5" maxlength="25" placeholder="Name..." />

      <div *ngIf="name.errors && registerForm.submitted" [ngClass]="'error'">
        <div *ngIf="name.errors.required">Name required.</div>
        <div *ngIf="name.errors.minlength">Name must be at least 5 characters long.</div>
        <div *ngIf="name.errors.maxlength">Name can be max 25 characters long.</div>
      </div>
    </div>

    <div>
      <label for="surname1">Surname1: </label>
      <input type="text" name="surname1" [(ngModel)]="user.surname1" #surname1="ngModel" required minlength="5" maxlength="25" placeholder="Surname1..." />
      <div *ngIf="surname1.errors && registerForm.submitted" [ngClass]="'error'">
        <div *ngIf="surname1.errors.required">Surname1 required.</div>
        <div *ngIf="surname1.errors.minlength">Surname1 must be at least 5 characters long.</div>
        <div *ngIf="surname1.errors.maxlength">Surname1 can be max 25 characters long.</div>
      </div>
    </div>

    <div>
      <label for="surname2">Surname2: </label>
      <input type="text" name="surname2" [(ngModel)]="user.surname2" #surname2="ngModel" minlength="5" maxlength="25" placeholder="Surname2..." />
      <div *ngIf="surname2.errors && registerForm.submitted" [ngClass]="'error'">
        <div *ngIf="surname2.errors.minlength">Surname2 must be at least 5 characters long.</div>
        <div *ngIf="surname2.errors.maxlength">Surname2 can be max 25 characters long.</div>
      </div>
    </div>

    <div>
      <label for="alias">Alias: </label>
      <input type="text" name="alias" [(ngModel)]="user.alias" #alias="ngModel" required minlength="5" maxlength="25" placeholder="Alias..." />
      <div *ngIf="alias.errors && registerForm.submitted" [ngClass]="'error'">
        <div *ngIf="alias.errors.required">Alias required.</div>
        <div *ngIf="alias.errors.minlength">Alias must be at least 5 characters long.</div>
        <div *ngIf="alias.errors.maxlength">Alias can be max 25 characters long.</div>
      </div>
    </div>

    <div>
      <label for="birthDate">Birth date: </label>
      <input type="date" name="birthDate" [ngModel]="user.birthDate | date: 'yyyy-MM-dd'" #birthDate="ngModel" required placeholder="Birth date..." (ngModelChange)="user.birthDate = $event" />
      <div *ngIf="birthDate.errors && registerForm.submitted" [ngClass]="'error'">
        <div *ngIf="birthDate.errors.required">Birth date required.</div>
      </div>
    </div>

    <div>
      <label for="email">Email: </label>
      <input type="email" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email..." />
      <div *ngIf="email.errors && registerForm.submitted" [ngClass]="'error'">
        <div *ngIf="email.errors.required">Email required.</div>
        <div *ngIf="email.errors.pattern">Email not a valid format.</div>
      </div>
    </div>

    <div>
      <label for="password">Password: </label>
      <input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required placeholder="Password..." />
      <div *ngIf="password.errors && registerForm.submitted" [ngClass]="'error'">
        <div *ngIf="password.errors?.required">Password required.</div>
      </div>
    </div>

    <div>
      <button type="submit">Join now</button>
    </div>
  </form>
</div>
