<div class="container mt-5">
    <p>Component 1 module B</p>

    <!-- ChangeDetection - onpush -->
   

    <pre class="mt-2">{{var1() | json}}</pre>
    <pre class="mt-2">{{var2() | json}}</pre>



<!--
<div class="container mt-5">
    <p>Defer</p>
    <app-loading-slow></app-loading-slow>
</div>
-->
<!--
@defer() {
    <div class="container mt-5">
        <p>Defer</p>
        <app-loading-slow></app-loading-slow>
    </div>
} @placeholder {
    <p>Loading ...</p>
}

@defer() {
    <div class="container mt-5">
        <p>Defer</p>
        <app-loading-slow></app-loading-slow>
    </div>
} @placeholder {
    <p>Loading ...</p>
}

@defer() {
    <div class="container mt-5">
        <p>Defer</p>
        <app-loading-slow></app-loading-slow>
    </div>
} @placeholder {
    <p>Loading ...</p>
}
-->


    @defer() {
        <div class="mt-5">
            <p>Defer</p>
            <app-loading-slow></app-loading-slow>
        </div>
    } @placeholder {
        <p class="block mt-5">Loading ...</p>
    }

    @defer(on viewport) {
        <div class="mt-5">
            <p>Defer</p>
            <app-loading-slow></app-loading-slow>
        </div>
    } @placeholder {
        <p class="block mt-5">Loading ...</p>
    }

    @defer(on viewport) {
        <div class="mt-5">
            <p>Defer</p>
            <app-loading-slow></app-loading-slow>
        </div>
    } @placeholder {
        <p class="block mt-5">Loading ...</p>
    }

</div>